* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}
div {
  background-color: #333;
  padding: 0;
  margin: 0;
}
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  pointer-events: auto;
  z-index: 1100;
}
#navbar a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 16px;
  display: flex;
}
#navbar a:hover {
  text-decoration: underline;
  background-color: aquamarine;
  border-radius: 5px;
  padding: 5px;
}
#logo {
  height: 50px;
  margin-right: 20px;
}
.backtotop {
  display: inline-block;
  padding: 10px 15px;
  background-color: #2ecc71;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-family: sans-serif;
  z-index: 10010;
}
.back-to-top:hover {
  background-color: #27ae60;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropbtn {
  background-color: transparent;
  color: white;
  font-size: 16px;
  border: none;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  width: 160px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1001;
}
.dropdown-content a {
  color: white;
  padding: 10px 14px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #575757;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  color: aquamarine;
}
video {
  position: relative;
  z-index: -1; /* đặt video phía sau nội dung khác */
  pointer-events: none; /* không chặn click */
}
h1 {
  color: #333;
  font-size: 36px;
  font-weight: bold;
  padding-top: 60px;
}
.footer {
  background-color: #333 !important;
  color: white;
  text-align: center;
  padding: 20px;
  width: 100%;
  margin-top: 0; /* bỏ khoảng trống */
  height: 300px;
}
.MS {
  position: absolute;
  right: 145px;
  top: 848px;
  width: 237px;
  height: 237px;
  display: block;
}
video,
img {
  display: block;
  margin: 0;
  padding: 0;
}
.RN {
  position: absolute;
  left: 60px;
}
.footer h2 {
  position: absolute;
  font-size: 24px;
  right: 140px;
}
.footer ul a {
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: white;
}
.HUH {
  position: absolute;
  top: 812px;
  left: 700px;
}
